<ion-header>
    <ion-toolbar>
        <ion-title>pagina1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-title>
            Código Promocional
        </ion-title>
    </ion-item>

    <ion-item lines="none">
        <ion-input [(ngModel)]="codigoPromocional" placeholder="Codi"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-title>
            Información del cliente
        </ion-title>
    </ion-item>
    <ion-item lines="none">
        <ion-input placeholder="Correo electrónico" [(ngModel)]="email">
        </ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-checkbox [(ngModel)]="consent" style="margin-right: 1em;"></ion-checkbox>
        <ion-label text-wrap>I consent to receiving emails from Ledger about products, updates, and industry news.</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-title>Estoy comprando como</ion-title>
    </ion-item>
    <ion-item lines="none">
        <ion-input placeHolder="Nombre" [(ngModel)]="nombre"></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-input placeHolder="Apellido" [(ngModel)]="apellido"></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-input placeHolder="Dirección Línea 1" [(ngModel)]="direccionLinea1"></ion-input>
    </ion-item>
    <ion-item lines="none">
        <ion-input placeHolder="Dirección Línea 2 (Opcional)" [(ngModel)]="direccionLinea2"></ion-input>
    </ion-item>


    <ion-item lines="none">
        <ion-label>País</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select" [(ngModel)]="pais">
            <ion-select-option value="Spain">Spain</ion-select-option>
            <ion-select-option value="Francia">Francia</ion-select-option>
            <ion-select-option value="Italia">Italia</ion-select-option>
            <ion-select-option value="Portugal">Portugal</ion-select-option>
            <ion-select-option value="China">China</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item lines="none">
        <ion-input placeHolder="Ciudad" [(ngModel)]="ciudad"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-label>Provincia</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select" [(ngModel)]="provincia">
            <ion-select-option value="Barcelona">Barcelona</ion-select-option>
            <ion-select-option value="xd">xd</ion-select-option>
            <ion-select-option value="uwu">uwu</ion-select-option>
            <ion-select-option value="yes">yes</ion-select-option>
            <ion-select-option value="wtf">wtf</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item lines="none">
        <ion-input placeHolder="Código Postal" [(ngModel)]="cp"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-input placeHolder="Teléfono" [(ngModel)]="telefono"></ion-input>
    </ion-item>

    <ion-button color="success" expand="block" (click)="pasarParametro()">Siguiente</ion-button>



</ion-content>