<ion-header>
    <ion-toolbar>
        <ion-title>pagina4</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button routerLink="/home">- Inicio</ion-button>

    <ion-item lines="none">
        <ion-title>Resumen</ion-title>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>{{ infoCliente }}</ion-label>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>{{ infoTargeta }}</ion-label>
    </ion-item>

    <ion-item lines="none">
        <ion-label text-wrap>{{ infoEnvio }}</ion-label>
    </ion-item>

</ion-content>