<ion-header>
    <ion-toolbar>
        <ion-title>pagina3</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-title>
            Método de pago
        </ion-title>
    </ion-item>
    <ion-list>
        <ion-radio-group value="tarjeta">
            <ion-item lines="none">
                <ion-label>Tarjeta de crédito</ion-label>
                <ion-radio slot="start" value="tarjeta"></ion-radio>
            </ion-item>
        </ion-radio-group>
        <ion-item lines="none">
            <ion-input placeHolder="Card Number" [(ngModel)]="numTargeta"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-input placeHolder="Card Holder Name" [(ngModel)]="nombreTargeta"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-input placeHolder="Expiration month (MM)" [(ngModel)]="mesExpiracion"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-input placeHolder="Expiration year (YYYY)" [(ngModel)]="anoExpiracion"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-input placeHolder="CVV" [(ngModel)]="cvv"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label>PayPal</ion-label>
            <ion-radio disbled="true" slot="start" value="tarjeta"></ion-radio>
        </ion-item>
    </ion-list>


    <ion-item lines="none">
        <ion-title>
            Dirección de facturación
        </ion-title>
    </ion-item>

    <ion-list>
        <ion-radio-group value="igual">
            <ion-item lines="none">
                <ion-label>Igual que la dirección de envío</ion-label>
                <ion-radio slot="start" value="igual"></ion-radio>
            </ion-item>
            <ion-item lines="none">
                <ion-label>Una dirección diferente</ion-label>
                <ion-radio slot="start" disabled="true" value="diferente"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-list>

    <ion-item lines="none">
        <ion-checkbox [(ngModel)]="agree" style="margin-right: 1em;"></ion-checkbox>
        <ion-label>I agree with the Sales Terms and Conditions and with the Website Terms of Use.</ion-label>
    </ion-item>

    <ion-button color="success" expand="block" (click)="pasarParametro()">Comprar</ion-button>

</ion-content>