<ion-header>
    <ion-toolbar>
        <ion-title>pagina2</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
        <ion-title>
            DIrección de envío
        </ion-title>
    </ion-item>




    <ion-item lines="none">
        <ion-title>
            Método de envío
        </ion-title>
    </ion-item>
    <ion-item lines="none">
        <ion-label text-wrap>{{ infoEnvio }}</ion-label>
    </ion-item>

    <ion-list>
        <ion-radio-group value="1">
            <ion-item lines="none">
                <ion-label text-wrap>Tracked Shipping with DHL<br/>FREE SHIPPING</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
            </ion-item>

            <ion-item lines="none">
                <ion-label text-wrap>Express Shipping with DHL Express<br/>10.58 EUROS SHIPPING</ion-label>
                <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>

        </ion-radio-group>
    </ion-list>




    <ion-button color="success" expand="block" (click)="pasarParametro()">Siguiente</ion-button>


</ion-content>