<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Botiga
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Botiga</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <!--<ion-image src=“assets/img/si.png”></ion-image>-->
        <ion-button (Click)="pasarParametro()" routerLink="/pagina1">Comprar</ion-button>
        <!--<ion-button expand="block" (click)="pasoParametro()">Pàgina amb paràmetre</ion-button>-->
    </div>
</ion-content>